
.cards {
    display: flex;
    flex-wrap: wrap;
    width:auto;
    margin:30px 0px; 
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.cart{
        flex-direction: row;
        flex-wrap: wrap;
        align-self: flex-end;
        justify-content: flex-start;
        float: left;
        width:100%;    
        width: 300px;
        max-height: 600px;
        overflow: auto;
        border: 1px solid black;
}


.menu {
    background-color: #93B1C6 ;
    height: 50px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
a{
    font-size: 20px;
    text-decoration: underline;

}

a:hover{
    font-size: 30px;
    padding: 5px;
    cursor: pointer;
    border-radius:15px 50px 30px;
}

button {
    background: #FF7148;
    margin: 40px 0 0 0;
    padding: 12px 16px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 8px 6px -6px #555;
    width: 30%;
    font-weight: bold;
  }
  button:hover {
    letter-spacing: 10px;
    box-shadow: none;
  }
  .add{
    margin-bottom: 10px;
    
  }



