
<div>
    <h1>About Us</h1>

    <p>Spare more with Snap-Shop! We give you the most minimal costs on the entirety of your grocery needs.
    
        Snap-Shop is a low-cost online general store that gets items crosswise over classifications like grocery, natural products and vegetables, excellence and health, family unit care, infant care, pet consideration, and meats and fish conveyed to your doorstep.
        
        Browse more than 5,000 items at costs lower than markets each day!
            
        Level 20% cashback on your first request with coupon code Snap-Shop 20. Max cashback is Rs.250.</p>

    
</div>

